body {
    background: url("Adobe Express - file.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}
.head-panel {
    background: rgba(27, 74, 96, 0.5);
    height: 20%;
    border: solid 10px #085C81 blur(4px);
}
.name {
    color: #062D4C;
    font-size: 32px;
    margin: 0 10px;
}
.avatar {
    height: 70px;
    background-color: bisque;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: solid 3px #ff8800;
}
.account, .personal {
    display: flex;
}
.motivation {
    margin: 0 10px;
    color: #ff8800;
}
.other hr {
    margin: 0;
    margin-bottom: 2px;
    border-color: #ff8800;
}
.other div {
    display:flex;
}
.block{
    width: 100%;
    display: flex;
}
.gorisont-line{
    height: 1px;
    background-color: #062D4C;
    filter: blur(1px)
}
.block h3{
    color:#ff8800;
    font-weight: 300;
    margin: 0px 10px;
    text-align: center;
    flex:1;
    
}
.vertical-line{
    width: 1px;
    background-color: #062D4C;
    filter: blur(1px);
    
}
.numbers {
    font-size:small;
}