body {
    background: url("Adobe Express - file.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}
.head-panel {
    background: rgba(27, 74, 96, 0.5);
    border-radius: 25px;
    height: 20%;
    border: solid 10px #257FA6 blur(15);
}
.name {
    color: #062D4C;
    font-size: 32px;
    margin: 0 10px;
}
.avatar {
    width: 70px;
    height: 70px;
    background-color: bisque;
    border-radius: 50%;
    border: solid 3px #ff8800;
}
.account, .personal {
    display: flex;
}
.motivation {
    margin: 0 10px;
    color: #ff8800;
}
.other hr {
    margin: 0;
    margin-bottom: 2px;
    border-color: #ff8800;
}
hr{
    margin: 0;
    border: solid 2px #257FA6;
    filter: blur(15);
}
